.workGridItem {
  overflow: hidden;
  border-radius: 10px;
  background-color: #363636;
  height: 100%;
  border: 1px solid #00ff95;

  display: flex;
  flex-direction: column;

  max-width: 400px;
  min-height: 680px;

  .projectImgWrapper {
    aspect-ratio: 3/2;
    overflow: hidden;
    border-bottom: 1px solid #00ff95;

    &:hover {
      .projectImg {
        transform: translateY(calc(-100% + var(--wrapper-height)));
      }
    }

    .projectImg {
      object-fit: cover;
      width: 100%;

      transform: translateY(0);
      transition: transform 10s linear;
    }
  }

  .textContent {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .techStack {
      margin-top: auto;
      font-size: 16px;
    }

    .linkWrapper {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        font-size: 16px;
        color: #00ff95;

        display: flex;
        align-items: center;
        gap: 10px;

        transition: 0.3s ease-in-out;
        cursor: pointer;

        img {
          width: 16px;
        }

        &:hover {
          color: #267700;
        }
      }
    }
  }
}
