.footer {
  margin-bottom: 100px;

  a {
    font-size: 18px;
    text-decoration: none;
    color: #eeeeee;
    transition: 0.3s ease-in-out;

    &:hover {
      filter: brightness(70%);
    }
  }

  hr {
    background-color: #eeeeee;
  }
}
