*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: #191919;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191919;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff95;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #267700;
}
