*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: #191919;
  color: #00ff95;
  font-family: "Space Mono", monospace;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191919;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff95;
  transition: 0.3s ease-in-out;
}
